<div class="wrapper background--primary">
    <div class="shell small--soft--sides soft-half--top">
        <div class="grid">
            <div class="grid__item xl--three-quarters large--three-quarters medium-down--one-whole hard--left">
                <ul class="colfax push-quarter--bottom">
                    <!-- desktop - items side by side -->
                    <li class="inline medium-down--hide push-quarter--right flush--bottom">
                        <a href="https://newspring.cc/care" class="light text-bold">Care &amp; Prayer</a>
                    </li>
                    <li class="inline medium-down--hide push-quarter--right flush--bottom">
                        <a href="https://newspring.cc/stories/share" class="light text-bold">Share Your Story</a>
                    </li>
                    <li class="inline medium-down--hide push-quarter--right flush--bottom">
                        <a href="tel:+18649659990" class="light text-bold">864.965.9990</a>
                    </li>
                    <li class="inline medium-down--hide flush--bottom">
                        <a href="https://newspring.cc/contact" class="light text-bold">Contact Us</a>
                        <span class="light visuallyhidden--portable visuallyhidden--handheld"></span>
                    </li>

                    <!-- mobile - stack -->
                    <li class="block xl--hide large--hide medium-down--show text-center soft-quarter--bottom flush--bottom">
                        <a href="https://newspring.cc/care" class="light text-bold">Care &amp; Prayer</a>
                    </li>
                    <li class="block xl--hide large--hide medium-down--show text-center soft-quarter--bottom flush--bottom">
                        <a href="https://newspring.cc/stories/share" class="light text-bold">Share Your Story</a>
                    </li>
                    <li class="block xl--hide large--hide medium-down--show text-center soft-quarter--bottom flush--bottom">
                        <a href="tel:+18649659990" class="light text-bold">864.965.9990</a>
                    </li>
                    <li class="block xl--hide large--hide medium-down--show text-center flush--bottom">
                        <a href="https://newspring.cc/contact" class="light text-bold">Contact Us</a>
                        <span class="light visuallyhidden--portable visuallyhidden--handheld"></span>
                    </li>
                </ul>
            </div><!-- end left block -->
            <div class="grid__item xl--one-quarter large--one-quarter medium-down--one-whole text-right medium-down--text-center medium-down--hard">
                <ul>
    				<li class="inline">
    					<a href="https://facebook.com/newspring" class="light" title="Visit the NewSpring Church Facebook page">
    						<span class="fa fa-facebook"></span>
    						<span class="visually-hidden">Visit the NewSpring Church Facebook page</span>
    					</a>
    					<a href="https://twitter.com/newspring" class="light" title="Visit the NewSpring Church Twitter page">
    						<span class="fa fa-twitter"></span>
    						<span class="visually-hidden">Visit the NewSpring Church Twitter page</span>
    					</a>
    					<a href="https://instagram.com/newspring_church" class="light" title="Visit the NewSpring Church Instagram page">
    						<span class="fa fa-instagram"></span>
    						<span class="visually-hidden">Visit the NewSpring Church Instagram page</span>
    					</a>
    				</li>
    			</ul>
            </div>
        </div>
    </div>
</div>
