<div class="soft-half--bottom wrapper background--light soft--ends">
    <!-- <hr /> -->
    <div class="grid text-center">
        <h4 class="">Thanks for checking out the NewSpring online store!</h4>
        <p>
            Our shirts, hoodies, and CDs
            are all available online and can ship anywhere in the US!
            <br/><br/>
            Have questions about
            the store? <a href="#">View Our FAQ</a>.
        </p>
    </div>
</div>
