<div class="light wrapper background--secondary soft--ends">
    <div class="grid text-center">
        <h1 class="h2 light">Sign Up For Updates</h1>
        <p>
            Want to receive updates when new items are added to the NewSpring Store?<br/>
            Sign up here and we'll let you know when items have been added!
        </p>
        <a class="ns-btn light" href="https://newspring.wufoo.com/forms/q1q85qyi1qykxu7/def/field5=1" target="_blank">Sign Up Here</a>
    </div>
</div>
