<section class="relative light text-center">
	<div class="shell store-hero background--fill soft-half--top medium-down--hard">
		<div class="overlay overlay--gradient">
			<div class="grid overlay__item soft medium-down--soft-half--bottom">
				<div class="grid__item xxl--ten-twelfths push--xxl--one-twelfth xl--six-eighths push--xl--one-eighth hard--top medium-down--hard large--hard">
					<!-- Title -->
					<h1>
						<span>NewSpring Store</span>
					</h1>
					<!-- Summary -->
					<!-- <p>The NewSpring Store gives you access to our apparel and music CDs. We conveniently provide you the resources you want—shipping anywhere in the U.S.!</p> -->
				</div>
			</div>
		</div>
	</div>
</section>
