<div class="light wrapper background--secondary soft--ends">
    <div class="grid text-center flush--left">
        <h1 class="h2 light">Sign Up For Updates</h1>
        <p>
            Want to receive updates when new items are added to the NewSpring Store?<br/>
            Sign up here and we'll let you know when items have been added!
        </p>
        <a class="ns-btn light" href="https://rock.newspring.cc/Workflows/266?KeepMeUpdated=NewSpring%20Store" target="_blank">Sign Up Here</a>
    </div>
</div>
